.header
  .header_main
    = image_tag "pict/pict-reason-01.jpg",class:"header_main_icon"
    Nexus Partner
  .header_nav
    = link_to "トップページ", "#", class: "top_btn"
    = link_to "ログイン", "#", class: "btn"
    = link_to "新規登録", "#", class: "btn"
.main
  .topintroduction
    .subtitle
      こんな事で悩んでいませんか？
    .lists
      .list
        .list__pict
          = image_tag "pict/pict-reason-02.jpg",class:"list__pict_size"
        %p.list__description 動画を作りたいけど編集・投稿の仕方が分からない
      .list
        .list__pict
          = image_tag "pict/pict-reason-03.jpg",class:"list__pict_size"
        %p.list__description 編集・投稿で小遣いを増やしたい
    .subtitle
      
  .visual
    .visual_content
      .visual_content_subtitle
        動画をバズらせたい！
        %br
        そのパートナーを見つけ出すアプリ！
      .log__btn
        .abtn
          =link_to image_tag("pict/app.png",class:"bottom editing"),"#"
        =link_to image_tag("pict/google-play-badge.png",class:"gbtn bottom"),"#"
